__pycache__/
*.py[cod]
*$py.class

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/avatars/
.env
.env.db
.venv/
env/
venv/
node_modules/
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/

.DS_Store
Thumbs.db

periwinkleposts/media/avatars/

**/media/
