Django==5.1.5
djangorestframework==3.15.2
sqlparse==0.5.3
django-avatar==8.0.1
psycopg2-binary==2.9.10
drf-yasg==1.21.8
python-dotenv==1.0.1
commonmark==0.9.1
whitenoise==6.0.0
gunicorn==20.1.0
requests
selenium
utils