{% extends "skeleton.html" %}

{% block page_content %}
<main class="flex justify-center">
    <section class="flex-1 p-6">
        <div class="bg-white p-4 rounded-lg shadow-md mb-4">
            <form method="POST" action="{% url 'accounts:create_post' %}" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                    <input type="text" name="title" id="title" placeholder="Enter title"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required>
                </div>
                <div>
                    <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                    <textarea name="description" id="description" rows="3" placeholder="Describe your post"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required></textarea>
                </div>
                <div>
                    <label for="content" class="block text-sm font-medium text-gray-700">Content</label>
                    <textarea name="content" id="content" rows="4" placeholder="Content here..."
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        required></textarea>
                </div>
                <div>
                    <label for="contentType" class="block text-sm font-medium text-gray-700">Content Type</label>
                    <select id="contentType" name="contentType"
                        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                        <option value="text/markdown">Markdown</option>
                        <option value="text/plain">Plain Text</option>
                        <option value="application/base64">Base64 Image</option>
                        <option value="image/png;base64">PNG Image</option>
                        <option value="image/jpeg;base64">JPEG Image</option>
                    </select>
                </div>
                <div class="flex justify-end">
                    <button type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Post</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}