{% extends "base.html" %}
{% block title %}periwinkle.{% endblock %}

{% block content %}

<body class="bg-[#F5F5F5]">
    <nav class="p-2 bg-[#A2A2E6]">
        <div class="container mx-auto flex items-center">
            <a href="#" class="text-white font-[Baskervville] text-4xl px-3 py-2 rounded">periwinkle.</a>
            <div class="ml-auto flex space-x-4">
                <a href="{% url 'accounts:home' %}" class="headerbtn">home</a>
                <a href="{% url 'accounts:profile' username=request.user.username %}" class="headerbtn">profile</a>
                <a href="#" class="headerbtn">settings</a>
            </div>
        </div>
    </nav>
    <div class="max-w-full container">
        {% block page_content %}{% endblock %}
    </div>
</body>
{% endblock %}